<img src="../assets/images/banner.jpg" class="img-fluid" alt="Responsive image">
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <img src="../assets/images/layer-7.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <div class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">ABOUT FITNESS</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">BENEFITS</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">GALLARY</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> -->
      <p class="A-word-from-our-Creators">A word from our Creators</p>
    <!-- </div> -->
  </div>
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> -->
      <div style="flex: auto; margin-top: 25px;" class="ABOUT-FITNESS">ABOUT FITNESS</div>
    <!-- </div> -->
  </div>
  <div class="row mt-5">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="background-color: #11b4e5;">
      <pre class="Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetti">
        “Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since
          the 1500s, when an unknown printer took a galley of type and scrambled
          it to make a type specimen book. It has survived not only five centuries”
      </pre>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <img src="../assets/images/aboutus.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row justify-content-center">
    <p class="GALLERY">GALLARY</p>
  </div>
  <div class="row justify-content-center mt-5">
    <a class="mr-5" href="">ALL</a>
    <a class="mr-5" href="">PHOTOS</a>
    <a href="">VIDEOS</a>
  </div>
  <div class="row mt-5">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <img src="../assets/images/image-2.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <img src="../assets/images/image-3.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <img src="../assets/images/image-4.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <img src="../assets/images/image-5.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <img src="../assets/images/image-6.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <img src="../assets/images/video1.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <p class="Benefits">BENEFITS</p>
  </div>
  <div class="row justify-content-center mt-5">
    <p class="We-make-it-easy-and-affordable-for-you-to-stay-fit-and-healthy">
      We make it easy and affordable for you to stay fit and healthy
    </p>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <img src="../assets/images/shape-1.svg" style="margin-top: 25px; margin-left: 200px; width: 20%;" class="img-fluid" alt="Responsive image">
        <div style="text-align: center" class="card-title">
          State Of Art Equipments
        </div>
        <div class="card-body">
          <p>
            Modern conveniences & functional spaces
            to help you gain more from workout
          </p>
          <button class="btn btn-primary rounded-pill">Learn More</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <img src="../assets/images/forma-1.svg" style="margin-top: 25px; margin-left: 217px; width: 13%;" class="img-fluid" alt="Responsive image">
        <div style="text-align: center;" class="card-title">
          Pay per use
        </div>
        <div class="card-body">
          <p>
            Pay only for the number of hours
            you workout in gym
          </p>
          <button class="btn btn-primary rounded-pill">Learn More</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <img src="../assets/images/forma-2.svg" style="margin-top: 25px; margin-left: 200px; width: 20%;" class="img-fluid" alt="Responsive image">
        <div style="text-align: center;" class="card-title">
          certified experts
        </div>
        <div class="card-body">
          <p>
            Certified experts and trainers to help
            you acheive your fitness goals
          </p>
          <button class="btn btn-primary rounded-pill">Learn More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <p class="Have-a-query ">HAVE A QUERY?</p>
  </div>
  <div class="row justify-content-center mt-5">
    <p>Please fill out the quick form and we will be in touch with you at the earliest</p>
  </div>
  <div class="row justify-content-center formInput">
    <form class="form-group">
      <div class="mb-2">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <input type="email" class="form-control" placeholder="Email">
          </div>
        </div>
      </div>
      <textarea class="textArea" cols="70" rows="3"></textarea><br>
      <button style="margin-top: 5px;" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <div class="row mt-5">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <p><i style="color: #11b4e5;" class="fa fa-map-marker" aria-hidden="true"></i> Lorem ipsum dolor sit amet</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <p><i style="color: #11b4e5;" class="fa fa-phone" aria-hidden="true"></i> +91 9898989898</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <p><i style="color: #11b4e5;" class="fa fa-envelope-o" aria-hidden="true"></i> recomp@fitness.com</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <i class="fa fa-facebook" style="margin-right: 15px; cursor: pointer;" aria-hidden="true"></i>
      <i class="fa fa-twitter" style="margin-right: 15px; cursor: pointer;" aria-hidden="true"></i>
      <i class="fa fa-google" style="cursor: pointer; margin-right: 15px;" aria-hidden="true"></i>
      <img src="../assets/images/layer-6.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>


